# dependencies
**/node_modules/

# build output
dist/
**/dist/
.vite/

# env files
.env
.env.*.local

# logs
*.log
npm-debug.log*

# OS/IDE junk
.DS_Store
Thumbs.db
.vscode/

# Optional: if not using LFS, uncomment to ignore large media
# *.mp3

